<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Portofolio">
    <meta property="og:description" content="Portfolio Fathin Anhar">
    <meta property="og:image" content="{{url_for('static', filename='img/thumb.jpg')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/2efb8198c8.js" crossorigin="anonymous"></script>
    <title>{% block title %}
        
    {% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="mycontainer">
        <nav class="navbar navbar-expand-sm ">
            <div class="container-fluid ">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border: unset !important;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/skill">Skill</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/project">Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
       {% block about %}
        
       {% endblock %}
    </div>
    {% block content %}
        
    {% endblock %}
    

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
<footer>
    <div class="mycontainer mt-5 ">
        <hr>
        <div class="d-flex flex-row flex-wrap justify-content-center my-2">
            <h2><u>Contact Us</u></h2>
        </div>
        <div id="contact" class="contact d-flex flex-row flex-wrap justify-content-around">
            <div class="icon-link">
                <ul>
                    <li><a href="https://www.linkedin.com/in/fathin-anhar-wicaksono-9a0120221/"><i
                                class="fa-brands fa-linkedin fa-2xl" style="color: #0d47ab;"></i> Fathin Anhar
                            Wicaksono</a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram fa-2xl" style="color: #eb2484;"></i> faan_isme</a>
                    </li>
                    <li><a href="https://github.com/faan-isme"><i class="fa-brands fa-github fa-2xl"
                                style="color: #000000;"></i> faan-isme</a></li>
                    <li><a href="mailto:faanisme@gmail.com"><i class="fa-regular fa-envelope fa-2xl"
                                style="color: #e64141;"></i> faanisme@gmail.com</a></li>
                </ul>
            </div>
            <div class="email ">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Name">
                    <label for="floatingInput">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a massage here" id="floatingTextarea2"
                        style="height: 80px"></textarea>
                    <label for="floatingTextarea2">Message</label>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mt-2">send</button>
                </div>
                
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <hr>
        <div class="link">
            <p>©2023 faan_isme.</p>
            <div>
                <a href="https://www.linkedin.com/in/fathin-anhar-wicaksono-9a0120221/"><i class="fa-brands fa-linkedin"
                        style="color: #0d47ab;"></i></a>
                <a href="#"><i class="fa-brands fa-instagram" style="color: #eb2484;"></i></i></a>
                <a href="https://github.com/faan-isme"><i class="fa-brands fa-github" style="color: #000000;"></i></a>
                <a href="mailto:faanisme@gmail.com"><i class="fa-regular fa-envelope" style="color: #e64141;"></i></a>
            </div>
        </div>


    </div>
</footer>

</html>