{% extends 'base.html' %}
{% block title %} Portfolio | Fathin Anhar{% endblock %}

        {% block about %}
         <div class="hero justify-content-between" id="about">
            <div class="intro">
                <br><br><br><br>
                <h1>Data Analyst & <br>Web Developer</h1>
                <p>Hello, I am a Data Analyst. My name is <b> Fathin Anhar Wicaksono(215610035)</b>, and I have an educational background
                    in the field of information systems. I have expertise in using various tools and programming
                    languages such as Python, R, SQL, and data visualization tools such as Tableau or Power BI. I also
                    have experience in managing databases, running statistical analysis, and building predictive models
                    to help companies make better decisions.
                    I also have expertise in various programming languages such as HTML, CSS, JavaScript, and
                    server-side programming languages such as PHP and Python. I also have experience in using various
                    front-end frameworks and technologies such as Laravel, Flask and React. as well as having a strong
                    understanding of databases and SQL.</p>
                <a class="icon-link" style="text-decoration: none;" href="#">
                    Get CV
                    <i class="fa-solid fa-arrow-right pt-1"></i>
                </a>
            </div>
            <div><img src="/static/asset/img/faan.png" alt=""></div>
        </div>
       {% endblock %}
       
    