{% extends 'base.html' %}
{% block title %}
    Project
{% endblock %}
{% block content %}
<div class="mycontainer mt-5">
    <div class="project" id="project">
        <h2 class="my-5">My Project</h2>
        <div class=" d-flex flex-row flex-wrap justify-content-center">
            <div class="card">
                <img src="/static/asset/img/blog.jpeg" class="card-img-top px-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gudang Spesial</h5>
                    <p class="card-text">This website is where I pursue my hobby of exploring the world of
                        technology. You'll find the latest articles, tutorials, and reviews on the latest
                        developments in the world of technology, including programming, hardware, and software. I
                        share my insights and knowledge on the latest trends, as well as provide practical guides to
                        help beginners understand complex concepts.</p>
                    <a href="#" class="btn btn-primary">Visit</a>
                </div>
            </div>
            <div class="card">
                <img src="/static/asset/img/fanbase.jpeg" class="card-img-top px-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Genshin Guide</h5>
                    <p class="card-text">Genshin Guide is a trusted source of information and the main destination
                        for Genshin Impact game players who want to understand and master the game world. We are
                        committed to providing comprehensive guides, in-depth tutorials, and the latest news about
                        Genshin Impact</p>
                    <a href="#" class="btn btn-primary">Visit</a>
                </div>
            </div>
            <div class="card">
                <img src="/static/asset/img/resto.jpeg" class="card-img-top px-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jogja Resto</h5>
                    <p class="card-text">At Jogja Resto , you will find a complete guide on the best restaurants,
                        warungs and food stalls in all of Yogyakarta. We provide comprehensive reviews of food,
                        ambiance, and must-try menu recommendations. With sophisticated search features, you can
                        find places to eat according to your preferences, whether it's traditional food such as
                        gudeg and nasi krengsengan, or contemporary culinary inspired by Javanese culture.</p>
                    <a href="#" class="btn btn-primary">Visit</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}