{% extends 'base.html' %}
{% block title %}
    Skill
{% endblock %}
{% block content %}
<div class="mycontainer mt-5">
    <div class="skill" id="skill">
        <h2 class="my-5">My Skills</h2>
        <div class=" d-flex flex-row flex-wrap justify-content-center">
            <div class="card ">
                <div class="card-body d-flex flex-column align-items-center ">
                    <span><i class="fa-brands fa-laravel fa-2xl" style="color: #e12d6c;"></i></span>
                    <h5 class="my-1">Laravel</h5>
                    <p class="card-text">In the course of my career, I have successfully implemented various
                        projects using Laravel, one of the most popular and powerful PHP frameworks. I have in-depth
                        knowledge of basic concepts such as routing, model-view-controller (MVC), and Eloquent ORM,
                        which allows me to build scalable and efficient web applications..</p>
                </div>
            </div>
            <div class="card ">
                <div class="card-body d-flex flex-column align-items-center ">
                    <span><i class="fa-duotone fa-brands fa-python fa-2xl" style="color:#3951db"></i></i></span>
                    <h5 class="my-1">Python</h5>
                    <p class="card-text">I have been involved in various projects involving web application
                        development, data analysis, and automation of complex tasks. My understanding of frameworks
                        such as Django and Flask enables me to build efficient and reliable web applications, while
                        my expertise in data processing using libraries such as NumPy and pandas helps me generate
                        valuable insights from data.</p>
                </div>
            </div>
            <div class="card ">
                <div class="card-body d-flex flex-column align-items-center ">
                    <span><i class="fa-brands fa-r-project fa-2xl" style="color: #8ab5ff;"></i></span>
                    <h5 class="my-1">R</h5>
                    <p class="card-text">With my experience, I am able to ingest and analyze complex data, create
                        statistical models, and generate informative visualizations using R. I am also familiar with
                        the various packages and tools available in the R ecosystem, which allow me to solve various
                        data analysis challenges. My R programming skills I have applied in various projects and
                        have helped me make decisions based on evidence and solid data.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center ">
                    <span><i class="fa-brands fa-js fa-2xl" style="color: #ffeb0f;"></i></span>
                    <h5 class="my-1">Javascript</h5>
                    <p class="card-text">I have deep knowledge of this programming language and have applied it in a
                        variety of projects, from creating interactive websites to developing complex web-based
                        applications.</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}